.tower {
    height: 90px;
    width: 90px;
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: center;
}

#tower1 {
    background-color: blue;
}

#tower2 {
    background-color: red;
}

#tower3 {
    background-color: black;
}

.disk {
    height: 20%;
    border: 1px solid black;
}

#disk1 {
    width: 90%;
    background-color: green
}

#disk2 {
    width: 70%;
    background-color: purple;
}

#disk3 {
    width: 50%;
    background-color: red
}

#disk4 {
    width: 30%;
    background-color: blue;
}